def on_button_pressed_a():
    servos.P0.set_angle(90)
    basic.pause(500)
    servos.P0.set_angle(0)

def on_button_pressed_b():
    servos.P0.set_angle(180)
    basic.pause(700)
    servos.P0.set_angle(0)
#Put the servo cable to P0 port
input.on_button_pressed(Button.A, on_button_pressed_a)
input.on_button_pressed(Button.B, on_button_pressed_b)
#Press A button: 90 degrees
#Press B button: 180 degrees
